.empty-overview-wrapper {
  display: block !important;
  margin: auto;
  padding-top: 15px;
}

.empty-overview-wrapper .event-card-button-wrapper button {
  width: 100%;
}
.empty-overview-wrapper .event-card-button-wrapper {
  padding-top: 30px;
}